# Directories
.vs/
Binaries/
Vendor/Sources/
Build/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.slnx
*.log

# Exclude
!Vendor/Binaries
App/Images/

*.spv

App/logs/

*.ini

.claude/agents/

Reviews/

*.rc

*.aps

Tests/resource.h

Core/RCa20428

Core/resource.h

*.drawio

.idea/

cmake-build-*/
*.pack
